.body {
  background-color: rgba(255, 228, 196, 0.459);
  height: 100%;
  width: 100%;
}

/* background-image: url("https://i.pinimg.com/564x/06/b4/6f/06b46f5d0e6a6b373f147fd04d3a868a.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
   background-size: cover;  */
