.articleGrid {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
  text-align: center;
}

.articleContainer {
  border-style: solid;
  margin-bottom: 30px;
  list-style-type: none;
}

.viewMoreArticles {
  margin-bottom: 1em;
}

@media only screen and (max-width: 500px) {
  .articleContainer {
    margin-bottom: 10px;
  }
}
