@import url("https://fonts.googleapis.com/css?family=Radley|DM+Serif+Display|Libre+Baskerville|Amatic+SC|Rajdhani|Cinzel|Exo+2|Indie+Flower");

.box {
  border-style: solid;
  text-align: center;
  display: flex;
  /* background-color: #a53860; */
}

.greeting {
  text-align: right;
  padding-right: 1%;
}

.headerText {
  font-family: "Cinzel";
  font-size: 60px;
  margin-bottom: 0px;
}

.header {
  flex: 1;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: "Radley";
  font-size: 0px;
  /* text-shadow: 2px 2px #838380; */
  /* background-color: #a53860; */
}

.headerCaption {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 25px;
  font-family: "Indie Flower";
}

.homeBtn {
  flex: 1;
  text-align: left;
  margin-top: 5px;
  margin-left: 5px;
  color: #f5dd90;
  text-shadow: 1px 2px #f5dd90;
}

.loggedInContainer {
  margin-right: 1em;
  display: flex;
  justify-content: flex-end;
}

.loginBtn {
  text-align: right;
  margin-right: 3.5em;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media only screen and (max-width: 500px) {
  .header {
    font-size: 40px;
  }
  .gridContainer {
    margin-top: 0px;
    padding: 0px;
  }
  .headerCaption {
    font-size: 14px;
  }
  .loggedInContainer {
    font-size: 12px;
  }
}
