@import url("https://fonts.googleapis.com/css?family=Rozha+One|Gravitas+One|DM+Serif+Display|Libre+Baskerville|Amatic+SC|Rajdhani|Cinzel|Exo+2|Indie+Flower");

.box {
  border-style: solid;
  text-align: center;
  background-color: #a53860;
  margin: 0;
  padding: 0;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.466);
}

.headerCaption {
  font-family: "Rajdhani";
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.greeting {
  flex: 1;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  color: #f5dd90;
  text-shadow: 1px 2px #000000;
  font-size: 20px;
  transform: translate(0px, -160px);
}

.headerText {
  text-align: center;
  color: bisque;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  font-family: Gravitas One;
  font-size: 70px;
  text-shadow: 3px 3px #000000d0;
}

.homeBtn {
  flex: 1;
  text-align: left;
  margin-top: 5px;
  margin-left: 5px;
  color: bisque;
  text-shadow: 1px 2px #f5dd90;
}

@media only screen and (max-width: 500px) {
  .header {
    font-size: 30px;
  }
  .gridContainer {
    margin-top: 0px;
    padding: 0px;
  }
  .headerCaption {
    font-size: 12px;
  }
  .loggedInContainer {
    font-size: 12px;
  }
  .headerText {
    text-align: center;
    font-size: medium;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
  }
  .greeting {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 10px;
    text-align: right;
    transform: translate(0px, -100px);
  }
}
