@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Libre+Baskerville|Amatic+SC|Rajdhani|Cinzel|Exo+2|Indie+Flower");

.featuredArticles {
  text-align: center;
  font-family: "Indie Flower";
}

@media only screen and (max-width: 500px) {
  .featuredArticles {
    font-size: 15px;
  }
}
