@import url("https://fonts.googleapis.com/css?family=Rozha+One|Gravitas+One|DM+Serif+Display|Libre+Baskerville|Amatic+SC|Rajdhani|Cinzel|Exo+2|Indie+Flower");

.btnContainer {
  text-align: center;
}

.navBtn {
  background-color: #a53860;
  border: 1px solid #000000;
  border-radius: 20px;
  /* display: inline-block; */
  color: bisque;
  padding: 6px 24px;
  width: 20%;
  cursor: pointer;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.2em;
  font-size: 23px;
  font-family: "Rozha One";
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.466);
}

.navBtn:active {
  top: 1px;
}

.navBtn:hover {
  background-color: bisque;
  color: #a53860;
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  .navBtn {
    margin-top: 1em;
    margin-bottom: 0em;
    margin-right: 30px;
    font-size: 12px;
    text-align: center;
    width: 40%;
  }
}
