@import url("https://fonts.googleapis.com/css?family=Rozha+One|Gravitas+One|DM+Serif+Display|Libre+Baskerville|Amatic+SC|Rajdhani|Cinzel|Exo+2|Indie+Flower");

.fullarticle {
  border-style: solid;
  text-align: center;
  margin-top: 70px;
  margin-left: 10em;
  margin-bottom: 5em;
  padding-bottom: 2em;
  width: 70%;
  background-image: linear-gradient(#af3b66, #f094b6);
}

.articletitle {
  font-family: "Rozha One";
}

.publishedby {
  font-size: 20px;
  font-family: "Indie Flower";
}

.votes {
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  font-family: "Rozha One";
}

@media only screen and (max-width: 500px) {
  .fullarticle {
    margin-top: 1em;
  }
}
