@import url("https://fonts.googleapis.com/css?family=Rozha+One|Gravitas+One|DM+Serif+Display|Libre+Baskerville|Amatic+SC|Rajdhani|Cinzel|Exo+2|Indie+Flower");

.gridContainer {
  margin-top: 60px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  text-align: center;
  position: relative;
}

.gridItem {
  position: absolute;
  bottom: 150px;
  font-size: 60px;
  transform: translate(-50%, -50%);
  font-family: "Rozha One";
  color: bisque;
  background-color: #a5386060;
  border-style: solid;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.432);
}

.topicLink {
  position: relative;
  text-align: center;
  color: white;
  padding: 20px;
}

.topicText {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 500px) {
  .gridContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .gridItem {
    position: relative;
    /* top: 25%; */
    font-size: xx-large;
    bottom: 175px;
  }

  .img {
    margin-top: 0px;
    margin-left: 30px;
    width: 300px;
    height: 300px;
  }
}
